---
import Layout from "../layouts/Layout.astro";
import DuenoAdd from "../components/DuenoAdd.svelte"
---

<Layout title="Agregar dueño">
    <h3 class="center-align">Agregar dueño</h3>
    <DuenoAdd client:load />
</Layout>