---
import Layout from "../layouts/Layout.astro";
import GatoAdd from "../components/GatoAdd.svelte"
---

<Layout title="Agregar Gato">
    <h3 class="center-align">Agregar gato</h3>
    <GatoAdd client:load/>
</Layout>