---
import Gatos from '../components/Gatos.svelte';
import Layout from '../layouts/Layout.astro';


---

<Layout title="Visualizar Gatos">
	<h3 class="center-align">Gatos</h3>
	<Gatos client:load />
</Layout>

<style>
</style>
