
<nav class=`middle-align ${Astro.props.class}` >
    <a class="button transparent" href="/">Home</a>
    <a class="button transparent" href="/dueno">Agregar Dueño</a>
    <a class="button transparent" href="/gato">Agregar Gato</a>
</nav>
<hr>